.btn:hover {
    -fx-background-color: transparent;
    -fx-border-color: #cd1515;
    -fx-border-radius:20;
    -fx-text-alignment: center;
}
.btn:pressed {
    -fx-text-fill: white;
    -fx-background-radius:20px;
    -fx-text-alignment: center;
    -fx-rotate:10;
}
.btn {
    -fx-background-color: #cd1515;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}
.arrow {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius:20;
}
.arrow:pressed {
    -fx-background-radius: 20;
    -fx-rotate:10;
}
.sym {
    -fx-padding: 0px;
    -fx-text-fill: #cd1515;
    -fx-background-color: transparent;
    -fx-border-radius: 25;
}
.symbol {
    -fx-background-color: transparent;
    -fx-padding: 0px;
}
.symbol:pressed {
    -fx-font-size: 96px;
}
.pan {
    -fx-border-color:blue;
}
.txt {
    -fx-background-color: #fbfbfb;
    -fx-padding: 0px 10px;
}
