.btn
{
    -fx-background-color: transparent; 
    -fx-border-color: #930a0a;
    -fx-border-radius:20; 
    -fx-text-alignment: center;
}

.btn:pressed
{

    
    -fx-text-fill: white;
    -fx-background-radius:20px; 
    -fx-text-alignment: center;
    -fx-rotate:10;
   
}

.btn:hover
{
    -fx-background-color: #930a0a;
    -fx-background-radius: 20;
    -fx-text-fill: white;
    -fx-text-alignment: center;

}
.arrow 
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius:20;  
}

.arrow:pressed
{
    -fx-background-radius: 20;
    -fx-rotate:10;
}

.sym 
{
    -fx-background-color: transparent;
    -fx-background-color: transparent;
}
.btnplay 
{
    -fx-background-color: transparent;
    -fx-background-color: transparent;
}
.btnplay:hover
{
    -fx-background-color: #930a0a;
    -fx-border-radius: 25;
}
.btnplay:pressed
{
    -fx-text-fill: #930a0a; 
    -fx-border-radius: 25;
}
